@import "tailwindcss";


@theme {
  --color-primary: #192a51;
  --color-secondary: #967aa1;
  --color-accent: #aaa1c8;
  --color-muted: #d5c6e0;
  --color-light: #f5e6e8;
}


.dark {
  --color-primary: #f5e6e8; 
  --color-light: #192a51;   
  --color-accent: #967aa1;  
}


html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  background-color: var(--color-light);
  font-family: sans-serif;
  
  @apply transition-colors duration-500 ease-in-out;
}


::selection {
  background: var(--color-accent);
  color: white;
}